<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BIPAuthURL" value="http://129.232.164.178/BIPEXAPI/Authentication"/>
    <add key="LandSeaOrderURL" value="http://129.232.164.178/LandSeaGlobal/LandseaAPI/api/XMLDocuments/"/>
    <add key="BIPAPIURL" value="http://129.232.164.178/LandSeaGlobal/BIPAPIService/"/>
    <!--<add key="BIPAuthURL" value="http://129.232.164.178/BIPEXAPI/Authentication"/>
    <add key="LandSeaOrderURL" value="http://localhost:51203/api/XMLDocuments/"/>
    <add key="BIPAPIURL" value="http://129.232.164.178/LandSeaGlobal/BIPAPIService/"/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>